#map {
    height: 90%;
}

.header {
    height: 8%
}

.header div {
    position: relative;
    display: flex;
    left: 75%;
    width: 25%;
    padding: 0;
}

.header p {
    font-weight: bold;
    vertical-align: middle;
}

.building {
    width: 30%;
    height: 80%;
    padding: 10px;
}

.information {
    width: 60%;
    height: 90%;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}