#map_container {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
}

#map_container #map {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 3;
}

/* ----- color bar ----- */

.colorbar {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 40%;
    height: 20px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.7) 0%, rgba(255, 255, 0, 0.7) 50%, rgba(0, 255, 0, 0.7) 100%);
    z-index: 4;
    display: flex;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.colorbar #redcolor {
    font-size: 1rem;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.colorbar #greencolor {
    font-size: 1rem;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.colorbar img {
    position: absolute;
}

#r2gbar {
    z-index: 4;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ------ polygon name labels ------ */

.popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0%);
    background-image: radial-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(192, 192, 192, 0.7) 50%, rgba(192, 192, 192, 0) 100%);
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1rem;
    overflow-y: auto;
    max-height: 60px;
}

/* JavaScript will position this div at the bottom of the popup tip. */

.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 250px;
}