@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');
* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	html, body {
		font-size: 12px;
	}
}

.button {
	/* text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #9191e9;
  padding: 1rem 2rem; */
	visibility: hidden;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* margin-right: 100px; */
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .10);
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}

.modal-inner {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}

#modal-building {
	top: 20%;
	left: 70%;
	width: 20%;
	height: 60%;
}

#modal-phase {
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
}

/* --------- things inside the modal -------- */

/* .modal__photo {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 40%;
	height: 100%;
	overflow: hidden;
}

.modal__photo img {
	width: auto;
	height: 100%;
} */

/* ----- sunburst chart style ----- */

.modal__chart__large {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

/* ----- text styles in phase modal ------ */

.modal__text__large {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding: 2rem;
}

.modal__text__large h1 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
	text-transform: uppercase;
	color: #0a0a0a;
}

.modal__text__large p {
	font-size: 0.875rem;
	color: #686868;
	line-height: 1.5;
}

.modal:target {
	visibility: visible;
	opacity: 1;
}

.modal:target .modal-inner {
	bottom: 0;
	right: 0;
	transform: rotate(0);
}

.modal__close {
	position: absolute;
	right: -1rem;
	top: -1rem;
	width: 3rem;
	height: 3rem;
	font-size: 0.875rem;
	font-weight: 300;
	border-radius: 100%;
	background-color: #0a0a0a;
	z-index: 10;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}